body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; /* Fond noir */
  font-family: 'Space Grotesk', sans-serif;
}

#filters-panel {
  position: absolute;
  top: 100px;
  left: 20px;
  color: white;
  font-size: 16px;
  z-index: 1000;
}

#filters-panel label {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

#map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#map {
  width: 1000px;
  height: 600px;
  background: #000000; /* Fond de la carte noir */
  /* Pas de border-radius ! Bord droit */
}

#info-panel {
  margin-top: 400px;
  color: white;
  text-align: left;
}

#info-text h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

#page-title {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.leaflet-control-zoom {
  display: none; /* Retirer boutons + - */
}
