/* Fond général */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
}

/* Conteneur principal */
#main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 90vh;
  gap: 40px;
  padding: 40px;
}


#filters-panel {
  flex: 0 0 200px; /* Largeur fixe */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#map-and-info {
  flex: 1; /* Toute la place restante */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 600px;
}

/* Carte */
#map {
  width: 1000px;
  height: 600px;
  background: #000;
  filter: brightness(1.1);
  border-radius: 0; /* pas d'arrondi */
  margin-left: -80px;
}

/* Infos des lieux */
#info-panel {
  width: 100px;
  color: white;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
}

#info-text h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

#info-text p {
  font-size: 12px;
  line-height: 1.6;
  text-align: justify;
}

/* Titre en bas à droite */
#page-title {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
