body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #011627; /* bleu très foncé */
  font-family: 'Space Grotesk', sans-serif;
}

#filters-panel {
  position: absolute;
  top: 100px; /* au lieu de 20px */
  left: 20px;
  color: white;
  font-size: 16px;
  z-index: 1000;
}


#filters-panel label {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

#map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#map {
  width: 1000px; /* au lieu de 1200px */
  height: 600px; /* au lieu de 700px */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  filter: hue-rotate(190deg) brightness(0.5) saturate(1.5);
}


#info-panel {
  margin-top: 10px;
  color: white;
  text-align: center;
}

#info-text {
  font-size: 18px;
  font-weight: 400;
}

#page-title {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.leaflet-control-zoom {
  display: none; /* Supprimer le + et - */
}
